<script>
	import { stores, goto } from '@sapper/app';
	import { onMount } from 'svelte';
	import * as yup from 'yup';
	import { extractError, extractErrors } from '../../functions';
	import {
		addImei as apiAddImei,
		listModel as apiListModel,
		listColor as apiListColor,
		listRam as apiListRam,
		listCapacity as apiListCapacity,
	} from '../../services/model';
	import { getToken } from '../../stores';
	import ButtonLoading from '../loading/ButtonLoading.svelte';
	import LoadingContent from '../loading/LoadingContent.svelte';

	let filter = {
		modelName: '',
	};
	let values = {
		name: '',
		model: '',
		color: '',
		ram: '',
		capacity: '',
		otherDetail: '',
	};
	let errors = {};
	let offset = 0;
	let isServerError = false;
	let listM = [];
	let listCo = [];
	let listCa = [];
	let listR = [];

	let isLoading = false;
	let isLoadingModel = false;
	let isLoadingColor = false;
	let isLoadingRam = false;
	let isLoadingCapacity = false;

	const { session } = stores();
	const { domainModel } = $session;

	onMount(async () => {
		await listModel();
		await listColor();
		await listRam();
		await listCapacity();
	});
	const listModel = () => {
		isLoadingModel = true;
		const token = getToken();

		return new Promise((resolve, reject) => {
			apiListModel(domainModel, {
				token,
				limit: 2000,
				offset,
				filter,
			})
				.then((items) => {
					isLoadingModel = false;
					listM = items.list;
					isServerError = false;
					resolve();
				})
				.catch(() => {
					isLoadingModel = false;
					isServerError = true;
					reject();
				});
		});
	};
	const listColor = () => {
		isLoadingColor = true;
		const token = getToken();

		return new Promise((resolve, reject) => {
			apiListColor(domainModel, {
				token,
				limit: 2000,
				offset,
			})
				.then((items) => {
					isLoadingColor = false;
					listCo = items.list;
					isServerError = false;
					resolve();
				})
				.catch(() => {
					isLoadingColor = false;
					isServerError = true;
					reject();
				});
		});
	};
	const listRam = () => {
		isLoadingRam = true;
		const token = getToken();

		return new Promise((resolve, reject) => {
			apiListRam(domainModel, {
				token,
				limit: 2000,
				offset,
			})
				.then((items) => {
					isLoadingRam = false;
					listR = items.list;
					isServerError = false;
					resolve();
				})
				.catch(() => {
					isLoadingRam = false;
					isServerError = true;
					reject();
				});
		});
	};
	const listCapacity = () => {
		isLoadingCapacity = true;
		const token = getToken();

		return new Promise((resolve, reject) => {
			apiListCapacity(domainModel, {
				token,
				limit: 2000,
				offset,
			})
				.then((items) => {
					isLoadingCapacity = false;
					listCa = items.list;
					isServerError = false;
					resolve();
				})
				.catch(() => {
					isLoadingCapacity = false;
					isServerError = true;
					reject();
				});
		});
	};
	const addImei = () => {
		const token = getToken();
		isLoading = true;
		return new Promise((resolve, reject) => {
			apiAddImei(domainModel, {
				token,
				imei: values.name,
				modelId: values.model,
				colorId: values.color,
				ramId: values.ram,
				capacityId: values.capacity,
				otherDetail: values.otherDetail,
			})
				.then(() => {
					isLoading = false;
					resolve();
				})
				.catch((error) => {
					let text =
						'Server is in construction. Please press F5/refresh and try again.';
					if (error.response) {
						const { status, data } = error.response;
						if (status === 400) {
							const { obj } = data;
							if (obj === 'ERR_EXIST') text = 'This imei already exists!';
						}
					}
					Swal.fire('Error!', text, 'error');
					isLoading = false;
					reject();
				});
		});
	};
	const schema = yup.object().shape({
		name: yup.string('Imei name is string').required('Imei name is required'),
		model: yup.string('Model is string').required('Model is required'),
		color: yup.string('Color is string').required('Color is required'),
		ram: yup.string('Ram is string').required('Ram is required'),
		capacity: yup.string('Capacity is string').required('Capacity is required'),
	});
	const validate = async (field) => {
		try {
			await schema.validateAt(field, values);
			errors[field] = '';
		} catch (error) {
			errors[field] = extractError(error, field);
		}
	};
	const handleSubmit = async () => {
		isLoading = true;
		try {
			await schema.validate(values, { abortEarly: false });
			errors = {};
			await addImei();
			setTimeout(async () => {
				Swal.fire({
					position: 'top-right',
					icon: 'success',
					title: 'Add imei ' + values.name + ' success',
					showConfirmButton: false,
					timer: 2000,
				});
				isLoading = false;
				goto('/imeis');
			}, 300);
		} catch (error) {
			isLoading = false;
			if (error) {
				errors = extractErrors(error);
			}
		}
	};
</script>

<div class="card card-custom">
	<div class="card-header flex-wrap border-0 pt-6 pb-0">
		<div class="card-title">
			<h3 class="card-label">
				Imei Add
				<span class="d-block text-muted pt-2 font-size-sm">Management imeis list</span>
			</h3>
		</div>
	</div>
	{#if isServerError}
		<span class="font-weight-bold text-danger">Server is in construction. Please
			press F5/refresh and try again.</span>
	{:else if isLoading}
		<LoadingContent />
	{:else}
		<div class="card-body">
			<form
				class="form"
				autocomplete="off"
				on:submit|preventDefault={handleSubmit}
				novalidate="novalidate">
				<div class="card-body">
					<h3 class="font-size-lg text-dark font-weight-bold mb-6">
						Imei Info:
					</h3>
					<div class="mb-15">
						<div class="form-group row">
							<!-- svelte-ignore a11y-label-has-associated-control -->
							<label class="col-lg-3 col-form-label">Imei number:</label>
							<div class="col-lg-6">
								<input
									bind:value={values.name}
									name="name"
									type="text"
									class="form-control"
									placeholder="Enter imei number"
									on:input={() => validate('name')}
									on:blur={() => validate('name')} />

								{#if errors.name}
									<span class="form-text text-danger">{errors.name}</span>
								{/if}
							</div>
						</div>
						<div class="form-group row">
							<!-- svelte-ignore a11y-label-has-associated-control -->
							<label class="col-lg-3 col-form-label">Model Name:</label>
							<div class="col-lg-6">
								{#if isLoadingModel}
									<div class="spinner spinner-primary spinner-left">
										<input class="form-control" />
									</div>
								{:else}
									<!-- svelte-ignore a11y-no-onchange -->
									<select
										class="form-control"
										bind:value={values.model}
										on:change={(event) => {
											validate('model');
											const { target: { value } } = event;
											values.model = value;
										}}>
										<option value="" disabled selected>Select Model</option>
										{#each listM as item}
											<option value={item.id}>{item.model_name}</option>
										{/each}
									</select>

									{#if errors.model}
										<span class="form-text text-danger">{errors.model}</span>
									{/if}
								{/if}
							</div>
						</div>

						<div class="form-group row">
							<!-- svelte-ignore a11y-label-has-associated-control -->
							<label class="col-lg-3 col-form-label">Color Name:</label>
							<div class="col-lg-6">
								{#if isLoadingColor}
									<div class="spinner spinner-primary spinner-left">
										<input class="form-control" />
									</div>
								{:else}
									<!-- svelte-ignore a11y-no-onchange -->
									<select
										class="form-control"
										bind:value={values.color}
										on:change={(event) => {
											validate('color');
											const { target: { value } } = event;
											values.color = value;
										}}>
										<option value="" disabled selected>Select Color</option>
										{#each listCo as item}
											<option value={item.id}>{item.name}</option>
										{/each}
									</select>

									{#if errors.color}
										<span class="form-text text-danger">{errors.color}</span>
									{/if}
								{/if}
							</div>
						</div>
						<div class="form-group row">
							<!-- svelte-ignore a11y-label-has-associated-control -->
							<label class="col-lg-3 col-form-label">Ram Value:</label>
							<div class="col-lg-6">
								{#if isLoadingRam}
									<div class="spinner spinner-primary spinner-left">
										<input class="form-control" />
									</div>
								{:else}
									<!-- svelte-ignore a11y-no-onchange -->
									<select
										class="form-control"
										bind:value={values.ram}
										on:change={(event) => {
											validate('ram');
											const { target: { value } } = event;
											values.ram = value;
										}}>
										<option value="" disabled selected>Select Ram</option>
										{#each listR as item}
											<option value={item.id}>{item.value} GB</option>
										{/each}
									</select>
									{#if errors.ram}
										<span class="form-text text-danger">{errors.ram}</span>
									{/if}
								{/if}
							</div>
						</div>
						<div class="form-group row">
							<!-- svelte-ignore a11y-label-has-associated-control -->
							<label class="col-lg-3 col-form-label">Capacity Value:</label>
							<div class="col-lg-6">
								{#if isLoadingCapacity}
									<div class="spinner spinner-primary spinner-left">
										<input class="form-control" />
									</div>
								{:else}
									<!-- svelte-ignore a11y-no-onchange -->
									<select
										class="form-control"
										bind:value={values.capacity}
										on:change={(event) => {
											validate('capacity');
											const { target: { value } } = event;
											values.capacity = value;
										}}>
										<option value="" disabled selected>Select Capacity</option>
										{#each listCa as item}
											<option value={item.id}>{item.value} GB</option>
										{/each}
									</select>
									{#if errors.capacity}
										<span class="form-text text-danger">{errors.capacity}</span>
									{/if}
								{/if}
							</div>
						</div>
						<div class="form-group row">
							<!-- svelte-ignore a11y-label-has-associated-control -->
							<label class="col-lg-3 col-form-label">Other Detail:</label>
							<div class="col-lg-6">
								<textarea
									class="form-control"
									id="exampleTextarea"
									rows="3"
									bind:value={values.otherDetail}
									placeholder="Enter other detail" />
							</div>
						</div>
					</div>
				</div>
				<div class="card-footer">
					<div class="row">
						<div class="col-lg-3" />
						<div class="col-lg-6">
							<div class="card-toolbar">
								<button
									on:click={() => goto('imeis')}
									type="button"
									class="btn btn-light-primary font-weight-bolder mr-2">
									<i class="ki ki-long-arrow-back icon-xs" />Back</button>
								{#if isLoading}
									<ButtonLoading />
								{:else}
									<button
										type="submit"
										class="btn btn-primary font-weight-bolder">
										<i class="ki ki-check icon-xs" />Save Form</button>
								{/if}
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	{/if}
</div>
