<script>
	import { onMount } from 'svelte';
	import { stores } from '@sapper/app';
	import {
		listOrder as apiListOrder,
		removeOrder as apiRemoveOrder,
	} from '../../services/transaction';
	import { getToken } from '../../stores';
	import { displayDateDefault } from '../../functions';
	import PaginationDefault from '../utilities/PaginationDefault.svelte';
	import config from '../../config';
	import LoadingContent from '../loading/LoadingContent.svelte';

	const { session } = stores();
	const { domainModel } = $session;

	let isServerError = false;
	let isLoading = false;
	let offset = 0;
	let list = [];
	let countList = 0;

	onMount(async () => {
		await listOrder();
	});

	const listOrder = () => {
		isLoading = true;
		const token = getToken();

		return new Promise((resolve, reject) => {
			apiListOrder(domainModel, {
				token,
				limit: config.limit,
				offset,
			})
				.then((items) => {
					isLoading = false;

					list = items.list;
					countList = items.count;
					isServerError = false;
					resolve();
				})
				.catch(() => {
					isLoading = false;
					isServerError = true;
					reject();
				});
		});
	};
	const removeOrder = (id) => {
		isLoading = true;
		const token = getToken();
		return new Promise((resolve, reject) => {
			apiRemoveOrder(domainModel, { token, id })
				.then(() => {
					isLoading = false;
					resolve();
				})
				.catch(() => {
					isLoading = false;
					isServerError = true;
					Swal.fire(
						'Error!',
						'Server is in construction. Please press F5/refresh and try again.',
						'error'
					);
					reject();
				});
		});
	};
	const handleRemove = async (item) => {
		try {
			const result = await Swal.fire({
				title: 'Remove',
				text: 'Are you sure remove this order?',
				icon: 'question',
				showCancelButton: true,
				confirmButtonText: 'Yes',
				cancelButtonText: 'No',
				reverseButtons: true,
			});

			if (result.value) {
				await removeOrder(item.id);
				await listOrder();
			}
		} catch (error) {}
	};
	const handlePage = async (page) => {
		offset = config.limit * (page - 1);
		await listOrder();
	};
</script>

<!--begin::Card-->
<div class="card card-custom">
	<div class="card-header flex-wrap border-0 pt-6 pb-0">
		<div class="card-title">
			<h3 class="card-label">
				Orders List
				<span class="d-block text-muted pt-2 font-size-sm">Management orders
					list</span>
			</h3>
		</div>
	</div>
	<div class="card-body">
		<!--begin: Search Form-->
		<!-- <div class="mb-7">
			<div class="row align-items-center">
				<div class="col-lg-9 col-xl-8">
					<div class="row align-items-center">
						<div class="col-md-4 my-2 my-md-0">
							<div class="input-icon">
								<input
									type="text"
									class="form-control"
									placeholder="Search..."
									id="kt_datatable_search_query" />
								<span> <i class="flaticon2-search-1 text-muted" /> </span>
							</div>
						</div>
						<div class="col-md-4 my-2 my-md-0">
							<div class="d-flex align-items-center">
								<label class="mr-3 mb-0 d-none d-md-block">Status:</label>
								<select class="form-control" id="kt_datatable_search_status">
									<option value="">All</option>
									<option value="1">Pending</option>
									<option value="2">Delivered</option>
									<option value="3">Canceled</option>
									<option value="4">Success</option>
									<option value="5">Info</option>
									<option value="6">Danger</option>
								</select>
							</div>
						</div>
						<div class="col-md-4 my-2 my-md-0">
							<div class="d-flex align-items-center">
								<label class="mr-3 mb-0 d-none d-md-block">Type:</label>
								<select class="form-control" id="kt_datatable_search_type">
									<option value="">All</option>
									<option value="1">Online</option>
									<option value="2">Retail</option>
									<option value="3">Direct</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-xl-4 mt-5 mt-lg-0">
					<a
						href="#"
						class="btn btn-light-primary px-6 font-weight-bold">Search</a>
				</div>
			</div>
		</div> -->
		<!--end: Search Form-->
		<!--begin: Datatable-->
		{#if isServerError}
			<span class="font-weight-bold text-danger">Server is in construction.
				Please press F5/refresh and try again.</span>
		{:else if isLoading}
			<LoadingContent />
		{:else}
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Order Number</th>
							<th scope="col">Email</th>
							<th scope="col">Status</th>
							<th scope="col">Created date</th>
							<th scope="col">Ship To</th>
							<th scope="col">Total</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						{#if list.length > 0}
							{#each list as item, i}
								<tr>
									<th scope="row">{i + 1}</th>
									<td>{item.order_number}</td>
									<td>{item.email}</td>
									<td>
										{#if item.status === config.order.inTransaction}
											In Transaction
										{:else if item.status === config.order.created}
											Created
										{:else if item.status == config.order.ownerScanned}
											Owner Scanned
										{:else if item.status === config.order.buyerRejected}
											Buyer Reject
										{:else if item.status === config.order.buyerAccept}
											Accepted
										{:else if item.status === config.order.pending}Pending{/if}
									</td>
									<td>{displayDateDefault(item.created_at)}</td>
									<td>{item.shipping_info.address}</td>
									<td>{item.total_money}</td>
									<td>
										<span
											class="btn btn-sm btn-clean btn-icon"
											title="Delete"
											on:click={handleRemove(item)}>
											<span class="svg-icon svg-icon-md svg-icon-danger">
												<svg
													xmlns="http://www.w3.org/2000/svg"
													xmlns:xlink="http://www.w3.org/1999/xlink"
													width="24px"
													height="24px"
													viewBox="0 0 24 24"
													version="1.1">
													<g
														stroke="none"
														stroke-width="1"
														fill="none"
														fill-rule="evenodd">
														<rect x="0" y="0" width="24" height="24" />
														<path
															d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z"
															fill="#000000"
															fill-rule="nonzero" />
														<path
															d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z"
															fill="#000000"
															opacity="0.3" />
													</g>
												</svg>
											</span>
										</span>
									</td>
								</tr>
							{/each}
							<PaginationDefault
								totalItems={countList}
								{offset}
								onPage={handlePage} />
						{:else}
							<p class="mb-2 mt-15">No records found</p>
						{/if}
					</tbody>
				</table>
			</div>
		{/if}
		<!--end: Datatable-->
	</div>
</div>
<!--end::Card-->
