<script>
	import { stores, goto } from '@sapper/app';
	import { onMount } from 'svelte';
	import * as yup from 'yup';
	import { extractError, extractErrors } from '../../functions';
	import {
		editModel as apiEditModel,
		detailModel as apiDetailModel,
		listBrand as apiListBrand,
		listCategory as apiListCategory,
	} from '../../services/model';
	import { getToken } from '../../stores';
	import ButtonLoading from '../loading/ButtonLoading.svelte';
	import LoadingContent from '../loading/LoadingContent.svelte';

	let values = {
		name: '',
		imgUrl: '',
		brand: '',
		category: '',
	};
	let errors = {};
	let offset = 0;
	let isServerError = false;
	let listB = [];
	let listC = [];

	const { session, page } = stores();
	const { domainModel } = $session;

	let isLoading = false;
	let isLoadingBrand = false;
	let isLoadingCategory = false;

	onMount(async () => {
		await detailModel();
		await listBrand();
		await listCategory();
	});
	const detailModel = () => {
		isLoading = true;
		const token = getToken();
		return new Promise((resolve, reject) => {
			apiDetailModel(domainModel, {
				token,
				id: $page.params.id,
			})
				.then((item) => {
					values.name = item.model_name;
					values.brand = item.brand_id;
					values.category = item.category_id;
					values.imageUrl = item.model_image_url;
					isLoading = false;
					resolve();
				})
				.catch(() => {
					isLoading = false;
					isServerError = true;
					reject();
				});
		});
	};
	const listBrand = () => {
		isLoadingBrand = true;
		const token = getToken();

		return new Promise((resolve, reject) => {
			apiListBrand(domainModel, {
				token,
				limit: 2000,
				offset,
			})
				.then((items) => {
					isLoadingBrand = false;
					listB = items.list;
					isServerError = false;
					resolve();
				})
				.catch(() => {
					isLoadingBrand = false;
					isServerError = true;
					reject();
				});
		});
	};
	const listCategory = () => {
		isLoadingCategory = true;
		const token = getToken();

		return new Promise((resolve, reject) => {
			apiListCategory(domainModel, {
				token,
				limit: 2000,
				offset,
			})
				.then((items) => {
					isLoadingCategory = false;
					listC = items.list;
					isServerError = false;
					resolve();
				})
				.catch(() => {
					isLoadingCategory = false;
					isServerError = true;
					reject();
				});
		});
	};
	const editModel = () => {
		const token = getToken();
		isLoading = true;
		return new Promise((resolve, reject) => {
			apiEditModel(domainModel, {
				token,
				id: $page.params.id,
				name: values.name,
				imageUrl: values.imageUrl,
				brandId: values.brand,
				categoryId: values.category,
			})
				.then(() => {
					isLoading = false;
					resolve();
				})
				.catch((error) => {
					let text =
						'Server is in construction. Please press F5/refresh and try again.';
					if (error.response) {
						const { status, data } = error.response;
						if (status === 400) {
							const { obj } = data;
							if (obj === 'ERR_EXIST') text = 'This brand already exists!';
						}
					}
					Swal.fire('Error!', text, 'error');
					isLoading = false;
					reject();
				});
		});
	};
	const schema = yup.object().shape({
		name: yup.string('Model name is string').required('Model name is required'),
		brand: yup.string('Brand is string').required('Brand is required'),
		category: yup.string('Category is string').required('Category is required'),
	});
	const validate = async (field) => {
		try {
			await schema.validateAt(field, values);
			errors[field] = '';
		} catch (error) {
			errors[field] = extractError(error, field);
		}
	};
	const handleSubmit = async () => {
		isLoading = true;
		try {
			await schema.validate(values, { abortEarly: false });
			errors = {};
			await editModel();
			setTimeout(async () => {
				Swal.fire({
					position: 'top-right',
					icon: 'success',
					title: 'Edit model ' + values.name + ' success',
					showConfirmButton: false,
					timer: 2000,
				});
				isLoading = false;
				goto('/models');
			}, 300);
		} catch (error) {
			isLoading = false;
			if (error) {
				errors = extractErrors(error);
			}
		}
	};
</script>

<div class="card card-custom">
	<div class="card-header flex-wrap border-0 pt-6 pb-0">
		<div class="card-title">
			<h3 class="card-label">
				Model Edit
				<span class="d-block text-muted pt-2 font-size-sm">Management models
					list</span>
			</h3>
		</div>
	</div>
	{#if isServerError}
		<span class="font-weight-bold text-danger">Server is in construction. Please
			press F5/refresh and try again.</span>
	{:else if isLoading}
		<LoadingContent />
	{:else}
		<div class="card-body">
			<form
				class="form"
				autocomplete="off"
				on:submit|preventDefault={handleSubmit}
				novalidate="novalidate">
				<div class="card-body">
					<h3 class="font-size-lg text-dark font-weight-bold mb-6">
						Model Info:
					</h3>
					<div class="mb-15">
						<div class="form-group row">
							<!-- svelte-ignore a11y-label-has-associated-control -->
							<label class="col-lg-3 col-form-label">Model Name:</label>
							<div class="col-lg-6">
								<input
									bind:value={values.name}
									name="name"
									type="text"
									class="form-control"
									placeholder="Enter model name"
									on:input={() => validate('name')}
									on:blur={() => validate('name')} />
								{#if errors.name}
									<span class="form-text text-danger">{errors.name}</span>
								{/if}
							</div>
						</div>
						<div class="form-group row">
							<!-- svelte-ignore a11y-label-has-associated-control -->
							<label class="col-lg-3 col-form-label">Brand Name:</label>
							<div class="col-lg-6">
								{#if isLoadingBrand}
									<div class="spinner spinner-primary spinner-left">
										<input class="form-control" />
									</div>
								{:else}
									<!-- svelte-ignore a11y-no-onchange -->
									<select
										class="form-control"
										bind:value={values.brand}
										on:change={(event) => {
											validate('brand');
											const { target: { value } } = event;
											values.brand = value;
										}}>
										<option value="" disabled selected>Select Brand</option>
										{#each listB as item}
											<option value={item.id}>{item.name}</option>
										{/each}
									</select>

									{#if errors.brand}
										<span class="form-text text-danger">{errors.brand}</span>
									{/if}
								{/if}
							</div>
						</div>
						<div class="form-group row">
							<!-- svelte-ignore a11y-label-has-associated-control -->
							<label class="col-lg-3 col-form-label">Category Name:</label>
							<div class="col-lg-6">
								{#if isLoadingCategory}
									<div class="spinner spinner-primary spinner-left">
										<input class="form-control" />
									</div>
								{:else}
									<!-- svelte-ignore a11y-no-onchange -->
									<select
										class="form-control"
										bind:value={values.category}
										on:change={(event) => {
											validate('category');
											const { target: { value } } = event;
											values.category = value;
										}}>
										<option value="" disabled selected>Select Category</option>
										{#each listC as item}
											<option value={item.id}>{item.name}</option>
										{/each}
									</select>
									{#if errors.category}
										<span class="form-text text-danger">{errors.category}</span>
									{/if}
								{/if}
							</div>
						</div>
						<div class="form-group row">
							<!-- svelte-ignore a11y-label-has-associated-control -->
							<label class="col-lg-3 col-form-label">Image url:</label>
							<div class="col-lg-6">
								<input
									name="imgUrl"
									type="text"
									class="form-control"
									bind:value={values.imageUrl} />
							</div>
						</div>
					</div>
				</div>
				<div class="card-footer">
					<div class="row">
						<div class="col-lg-3" />
						<div class="col-lg-6">
							<div class="card-toolbar">
								<button
									on:click={() => goto('models')}
									type="button"
									class="btn btn-light-primary font-weight-bolder mr-2">
									<i class="ki ki-long-arrow-back icon-xs" />Back</button>
								{#if isLoading}
									<ButtonLoading />
								{:else}
									<button
										type="submit"
										class="btn btn-primary font-weight-bolder">
										<i class="ki ki-check icon-xs" />Save Form</button>
								{/if}
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	{/if}
</div>
