<script context="module">
	import { isLoading, waitLocale } from 'svelte-i18n';

	export async function preload() {
		return waitLocale();
	}
</script>

<script>
	export const segment = '';
</script>

{#if $isLoading}
	<div>dang load</div>
{:else}
	<slot {segment} />
{/if}
