<script>
	import { onMount } from 'svelte';
	import { goto } from '@sapper/app';
	import Menu from '../components/menu/index.svelte';
	import TransitionWrapper from '../components/transition/TransitionWrapper.svelte';
	import Header from '../components/header/Header.svelte';
	import { isAuth } from '../stores';
	import Breadcrumb from '../components/utilities/Breadcrumb.svelte';
	import DashboardPage from '../components/dashboard/DashboardPage.svelte';

	let visible = false;

	onMount(async () => {
		if (!isAuth()) {
			await goto('/login');
		} else {
			visible = true;
		}
	});
</script>

<svelte:head>
	<title>Dashboard</title>
</svelte:head>
{#if visible}
	<TransitionWrapper id="home">
		<Menu />
		<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
			<Header />
			<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
				<Breadcrumb />
				<div class="d-flex flex-row flex-column-fluid page">
					<div class="container">
						<DashboardPage />
					</div>
				</div>
			</div>
		</div>
	</TransitionWrapper>
{/if}
