<script>
	import { onMount } from 'svelte';
	import { goto } from '@sapper/app';

	import Header from '../../components/header/Header.svelte';
	import Menu from '../../components/menu/index.svelte';
	import TransitionWrapper from '../../components/transition/TransitionWrapper.svelte';
	import { isAuth } from '../../stores';
	import Breadcrumb from '../../components/utilities/Breadcrumb.svelte';
	import BreadcrumbItem from '../../components/utilities/BreadcrumbItem.svelte';
	import ModelPage from '../../components/model/ModelPage.svelte';

	let visible = false;

	onMount(async () => {
		if (!isAuth()) {
			await goto('/login');
		} else {
			visible = true;
		}
	});
</script>

<svelte:head>
	<title>Models list Page</title>
	<link
		href="assets/plugins/custom/datatables/datatables.bundle.css"
		rel="stylesheet"
		type="text/css" />
</svelte:head>
{#if visible}
	<TransitionWrapper id="model">
		<Menu />
		<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
			<Header />
			<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
				<Breadcrumb>
					<BreadcrumbItem active={true} message="Models List" />
				</Breadcrumb>
				<div class="d-flex flex-row flex-column-fluid page">
					<div class="container">
						<ModelPage />
					</div>
				</div>
			</div>
		</div>
	</TransitionWrapper>
{/if}
