<script>
	import { _ } from 'svelte-i18n';
	import { stores, goto } from '@sapper/app';
	import * as yup from 'yup';
	import { login as apiLogin } from '../../services/user';
	import { setAuth } from '../../stores';
	import { extractError, extractErrors } from '../../functions';
	import ButtonLoading from '../loading/ButtonLoading.svelte';
	const { session } = stores();
	const { domainAuthWeb } = $session;

	let errors = {};
	let isLoading = false;
	let values = {
		email: '',
		password: '',
	};

	const signin = () => {
		return new Promise((resolve, reject) => {
			apiLogin(domainAuthWeb, {
				email: values.email,
				password: values.password,
			})
				.then((response) => {
					const {
						data: { obj },
					} = response;
					setAuth(obj);
					resolve();
				})
				.catch((error) => {
					let text =
						'Server is in construction. Please press F5/refresh and try again.';
					if (error.response) {
						const { status, data } = error.response;
						if (status === 400) {
							const { obj } = data;
							if (obj === 'USER_INVALID') text = 'USER INVALID';
							else if (obj === 'ACCOUNT_IS_NOT_ADMIN')
								text = 'ACCOUNT IS NOT ADMIN';
						}
					}
					Swal.fire('Error!', text, 'error');
					reject();
				});
		});
	};
	const schema = yup.object().shape({
		email: yup
			.string('Email is string')
			.required('Email is required')
			.min(8, 'Email is min 8 character')
			.max(255, 'Email is max 255 character')
			.email('Email is email'),
		password: yup
			.string('Password is string')
			.required('Password is required')
			.min(8, 'Password is min 8 character')
			.max(100, 'Password is max 255 character'),
	});
	const validate = async (field) => {
		try {
			await schema.validateAt(field, values);
			errors[field] = '';
		} catch (error) {
			errors[field] = extractError(error, field);
		}
	};
	const handleSubmit = async () => {
		isLoading = true;
		try {
			await schema.validate(values, { abortEarly: false });
			errors = {};
			await signin();
			setTimeout(async () => {
				values.email = '';
				values.password = '';
				Swal.fire({
					position: 'top-right',
					icon: 'success',
					title: 'Login Success',
					showConfirmButton: false,
					timer: 1500,
				});
				isLoading = false;
				setTimeout(() => {
					goto('/');
				}, 300);
			}, 300);
		} catch (error) {
			isLoading = false;
			if (error) {
				errors = extractErrors(error);
			} else {
				//values.email = '';
				values.password = '';
			}
		}
	};
</script>

<form
	autocomplete="off"
	on:submit|preventDefault={handleSubmit}
	class="form"
	novalidate="novalidate">
	<div class="pb-13 pt-lg-0 pt-5">
		<h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">
			Welcome to Dingtoi
		</h3>
	</div>
	<div class="form-group fv-plugins-icon-container has-danger">
		<label
			for="email"
			class="font-size-h6 font-weight-bolder text-dark">Email</label>
		<input
			class="form-control form-control-solid h-auto py-6 px-6 rounded-lg"
			class:is-invalid={errors.email}
			type="text"
			name="email"
			autocomplete="off"
			bind:value={values.email}
			placeholder="Email"
			on:input={() => validate('email')}
			on:blur={() => validate('email')} />
		{#if errors.email}
			<div class="fv-plugins-message-container">
				<div data-field="email" class="fv-help-block">{errors.email}</div>
			</div>
		{/if}
	</div>

	<div class="form-group">
		<div class="d-flex justify-content-between mt-n5">
			<label
				for=""
				class="font-size-h6 font-weight-bolder text-dark pt-5">Password</label>
		</div>
		<input
			class="form-control form-control-solid h-auto py-6 px-6 rounded-lg"
			class:is-invalid={errors.password}
			type="password"
			name="password"
			autocomplete="off"
			bind:value={values.password}
			placeholder="Password"
			on:input={() => validate('password')}
			on:blur={() => validate('password')} />
		{#if errors.password}
			<div class="fv-plugins-message-container">
				<div data-field="password" class="fv-help-block">{errors.password}</div>
			</div>
		{/if}
	</div>

	{#if isLoading}
		<div class="pb-lg-0 pb-5 text-center">
			<ButtonLoading />
		</div>
	{:else}
		<div class="pb-lg-0 pb-5 text-center">
			<button
				type="submit"
				class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3 ">Sign
				In</button>
		</div>
	{/if}
</form>
