<script>
	import { onMount } from 'svelte';
	import { stores, goto } from '@sapper/app';
	import {
		listColor as apiListColor,
		deleteColor as apideleteColor,
	} from '../../services/model';
	import { getToken } from '../../stores';
	import { displayDateDefault } from '../../functions';
	import PaginationDefault from '../utilities/PaginationDefault.svelte';
	import config from '../../config';
	import LoadingContent from '../loading/LoadingContent.svelte';
	import { include } from 'is_js';

	const { session } = stores();
	const { domainModel } = $session;

	let isServerError = false;
	let isLoading = false;
	let offset = 0;
	let list = [];
	let countList = 0;

	onMount(async () => {
		await listColor();
	});

	const listColor = () => {
		isLoading = true;
		const token = getToken();

		return new Promise((resolve, reject) => {
			apiListColor(domainModel, {
				token,
				limit: config.limit,
				offset,
			})
				.then((items) => {
					isLoading = false;
					list = items.list;
					countList = items.count;
					isServerError = false;
					resolve();
				})
				.catch(() => {
					isLoading = false;
					isServerError = true;
					reject();
				});
		});
	};
	const deleteColor = (id) => {
		isLoading = true;
		const token = getToken();
		return new Promise((resolve, reject) => {
			apideleteColor(domainModel, { token, id })
				.then(() => {
					isLoading = false;
					resolve();
				})
				.catch((error) => {
					isLoading = false;
					isServerError = true;
					Swal.fire(
						'Error!',
						'Server is in construction. Please press F5/refresh and try again.',
						'error'
					);
					reject();
				});
		});
	};
	const handleRemove = async (item) => {
		try {
			const result = await Swal.fire({
				title: 'Remove',
				text: 'Are you sure remove this color?',
				icon: 'question',
				showCancelButton: true,
				confirmButtonText: 'Yes',
				cancelButtonText: 'No',
				reverseButtons: true,
			});
			if (result.value) {
				await deleteColor(item.id);
				await listColor();
			}
		} catch (error) {}
	};

	const handlePage = async (page) => {
		offset = config.limit * (page - 1);
		await listColor();
	};
</script>

<style>
	.color {
		width: 20px;
		height: 20px;
		border-radius: 50%;
		margin-left: 10px;
		display: inline-block;
	}
	.color-white {
		border: 1px solid #c0c0c0;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		margin-left: 10px;
		display: inline-block;
	}
	span.w-color {
		width: 67px;
		display: block;
	}
</style>

<!--begin::Card-->
<div class="card card-custom">
	<div class="card-header flex-wrap border-0 pt-6 pb-0">
		<div class="card-title">
			<h3 class="card-label">
				Colors List
				<span class="d-block text-muted pt-2 font-size-sm">Management colors
					list</span>
			</h3>
		</div>
		<div class="card-toolbar">
			<a href="/colors/add" class="btn btn-primary font-weight-bolder">
				<span class="svg-icon svg-icon-md">
					<!--begin::Svg Icon | path:assets/media/svg/icons/Design/Flatten.svg-->
					<svg
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						width="24px"
						height="24px"
						viewBox="0 0 24 24"
						version="1.1">
						<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							<rect x="0" y="0" width="24" height="24" />
							<circle fill="#000000" cx="9" cy="15" r="6" />
							<path
								d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z"
								fill="#000000"
								opacity="0.3" />
						</g>
					</svg>
					<!--end::Svg Icon-->
				</span>New Record</a>
		</div>
	</div>
	<div class="card-body">
		<!--begin: Search Form-->
		<!-- <div class="mb-7">
			<div class="row align-items-center">
				<div class="col-lg-9 col-xl-8">
					<div class="row align-items-center">
						<div class="col-md-4 my-2 my-md-0">
							<div class="input-icon">
								<input
									type="text"
									class="form-control"
									placeholder="Search..."
									id="kt_datatable_search_query" />
								<span> <i class="flaticon2-search-1 text-muted" /> </span>
							</div>
						</div>
						<div class="col-md-4 my-2 my-md-0">
							<div class="d-flex align-items-center">
								<label class="mr-3 mb-0 d-none d-md-block">Status:</label>
								<select class="form-control" id="kt_datatable_search_status">
									<option value="">All</option>
									<option value="1">Pending</option>
									<option value="2">Delivered</option>
									<option value="3">Canceled</option>
									<option value="4">Success</option>
									<option value="5">Info</option>
									<option value="6">Danger</option>
								</select>
							</div>
						</div>
						<div class="col-md-4 my-2 my-md-0">
							<div class="d-flex align-items-center">
								<label class="mr-3 mb-0 d-none d-md-block">Type:</label>
								<select class="form-control" id="kt_datatable_search_type">
									<option value="">All</option>
									<option value="1">Online</option>
									<option value="2">Retail</option>
									<option value="3">Direct</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-xl-4 mt-5 mt-lg-0">
					<a
						href="#"
						class="btn btn-light-primary px-6 font-weight-bold">Search</a>
				</div>
			</div>
		</div> -->
		<!--end: Search Form-->
		<!--begin: Datatable-->
		{#if isServerError}
			<span class="font-weight-bold text-danger">Server is in construction.
				Please press F5/refresh and try again.</span>
		{:else if isLoading}
			<LoadingContent />
		{:else}
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>Name</th>
							<th>Color Code</th>
							<th>Created date</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						{#if list.length > 0}
							{#each list as item, i}
								<tr>
									<td>{item.name}</td>
									<td class="d-flex">
										<span class="w-color"> #{item.color_code}</span>
										{#if item.color_code.toLowerCase().includes('ffffff')}
											<span
												class="color-white"
												style={'background-color:#' + item.color_code} />
										{:else}
											<span
												class="color"
												style={'background-color:#' + item.color_code} />
										{/if}
									</td>
									<td>{displayDateDefault(item.updated_at)}</td>
									<td>
										<span
											class="btn btn-sm btn-clean btn-icon"
											title="Edit"
											on:click={goto('colors/edit/' + item.id)}>
											<span class="svg-icon svg-icon-md svg-icon-success">
												<svg
													xmlns="http://www.w3.org/2000/svg"
													xmlns:xlink="http://www.w3.org/1999/xlink"
													width="24px"
													height="24px"
													viewBox="0 0 24 24"
													version="1.1">
													<g
														stroke="none"
														stroke-width="1"
														fill="none"
														fill-rule="evenodd">
														<rect x="0" y="0" width="24" height="24" />
														<path
															d="M8,17.9148182 L8,5.96685884 C8,5.56391781 8.16211443,5.17792052 8.44982609,4.89581508 L10.965708,2.42895648 C11.5426798,1.86322723 12.4640974,1.85620921 13.0496196,2.41308426 L15.5337377,4.77566479 C15.8314604,5.0588212 16,5.45170806 16,5.86258077 L16,17.9148182 C16,18.7432453 15.3284271,19.4148182 14.5,19.4148182 L9.5,19.4148182 C8.67157288,19.4148182 8,18.7432453 8,17.9148182 Z"
															fill="#000000"
															fill-rule="nonzero"
															transform="translate(12.000000, 10.707409) rotate(-135.000000) translate(-12.000000, -10.707409) " />
														<rect
															fill="#000000"
															opacity="0.3"
															x="5"
															y="20"
															width="15"
															height="2"
															rx="1" />
													</g>
												</svg>
												<!--end::Svg Icon-->
											</span>
										</span>
										<span
											class="btn btn-sm btn-clean btn-icon"
											title="Delete"
											on:click={() => handleRemove(item)}>
											<span class="svg-icon svg-icon-md svg-icon-danger">
												<svg
													xmlns="http://www.w3.org/2000/svg"
													xmlns:xlink="http://www.w3.org/1999/xlink"
													width="24px"
													height="24px"
													viewBox="0 0 24 24"
													version="1.1">
													<g
														stroke="none"
														stroke-width="1"
														fill="none"
														fill-rule="evenodd">
														<rect x="0" y="0" width="24" height="24" />
														<path
															d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z"
															fill="#000000"
															fill-rule="nonzero" />
														<path
															d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z"
															fill="#000000"
															opacity="0.3" />
													</g>
												</svg>
											</span>
										</span>
									</td>
								</tr>
							{/each}
							<PaginationDefault
								totalItems={countList}
								{offset}
								onPage={handlePage} />
						{:else}
							<p class="mb-2 mt-15">No records found</p>
						{/if}
					</tbody>
				</table>
			</div>
		{/if}
		<!--end: Datatable-->
	</div>
</div>
<!--end::Card-->
