<script>
	import { stores, goto } from '@sapper/app';
	import * as yup from 'yup';
	import { extractError, extractErrors } from '../../functions';
	import { addColor as apiAddColor } from '../../services/model';
	import { getToken } from '../../stores';
	import ButtonLoading from '../loading/ButtonLoading.svelte';

	let values = {
		colorName: '',
		colorCode: '',
	};
	let errors = {};

	const { session } = stores();
	const { domainModel } = $session;

	let isLoading = false;

	const addColor = () => {
		const token = getToken();
		isLoading = true;
		return new Promise((resolve, reject) => {
			apiAddColor(domainModel, {
				token,
				name: values.colorName,
				colorCode: values.colorCode,
			})
				.then(() => {
					isLoading = false;
					resolve();
				})
				.catch((error) => {
					let text =
						'Server is in construction. Please press F5/refresh and try again.';
					if (error.response) {
						const { status, data } = error.response;
						if (status === 400) {
							const { obj } = data;
							if (obj === 'ERR_EXIST') text = 'This color already exists!';
						}
					}
					Swal.fire('Error!', text, 'error');
					isLoading = false;
					reject();
				});
		});
	};
	const schema = yup.object().shape({
		colorName: yup
			.string('Color Name is string')
			.required('Color Name is required'),
		colorCode: yup
			.string('Color Code is string')
			.required('Color Code is required')
			.min(6, 'Color Code is min 6 character')
			.max(6, 'Color Code is max 6 character'),
	});
	const validate = async (field) => {
		try {
			await schema.validateAt(field, values);
			errors[field] = '';
		} catch (error) {
			errors[field] = extractError(error, field);
		}
	};
	const handleSubmit = async () => {
		isLoading = true;
		try {
			await schema.validate(values, { abortEarly: false });
			errors = {};
			await addColor();
			setTimeout(async () => {
				Swal.fire({
					position: 'top-right',
					icon: 'success',
					title: 'Add Color ' + values.colorName + ' success',
					showConfirmButton: false,
					timer: 2000,
				});
				isLoading = false;
				goto('/colors');
			}, 300);
		} catch (error) {
			isLoading = false;
			if (error) {
				errors = extractErrors(error);
			}
		}
	};
</script>

<div class="card card-custom">
	<div class="card-header flex-wrap border-0 pt-6 pb-0">
		<div class="card-title">
			<h3 class="card-label">
				Color Add
				<span class="d-block text-muted pt-2 font-size-sm">Management colors
					list</span>
			</h3>
		</div>
	</div>
	<div class="card-body">
		<form
			class="form"
			autocomplete="off"
			on:submit|preventDefault={handleSubmit}
			novalidate="novalidate">
			<div class="card-body">
				<h3 class="font-size-lg text-dark font-weight-bold mb-6">
					Color Info:
				</h3>
				<div class="mb-15">
					<div class="form-group row">
						<!-- svelte-ignore a11y-label-has-associated-control -->
						<label class="col-lg-3 col-form-label">Color Name:</label>
						<div class="col-lg-6">
							<input
								bind:value={values.colorName}
								name="colorName"
								type="text"
								class="form-control"
								placeholder="Enter color name"
								on:input={() => validate('colorName')}
								on:blur={() => validate('colorName')} />
							{#if errors.colorName}
								<span class="form-text text-danger">{errors.colorName}</span>
							{/if}
						</div>
					</div>
					<!-- svelte-ignore a11y-label-has-associated-control -->
					<div class="form-group row">
						<label class="col-lg-3 col-form-label">Color code:</label>
						<div class="col-lg-6">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text text-muted">#</span>
								</div>
								<input
									bind:value={values.colorCode}
									name="colorCode"
									type="text"
									class="form-control"
									placeholder="Enter color code"
									on:input={() => validate('colorCode')}
									on:blur={() => validate('colorCode')} />
							</div>

							{#if errors.colorCode}
								<span class="form-text text-danger">{errors.colorCode}</span>
							{/if}
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer">
				<div class="row">
					<div class="col-lg-3" />
					<div class="col-lg-6">
						<div class="card-toolbar">
							<button
								on:click={() => goto('colors')}
								type="button"
								class="btn btn-light-primary font-weight-bolder mr-2">
								<i class="ki ki-long-arrow-back icon-xs" />Back</button>
							{#if isLoading}
								<ButtonLoading />
							{:else}
								<button
									type="submit"
									class="btn btn-primary font-weight-bolder">
									<i class="ki ki-check icon-xs" />Save Form</button>
							{/if}
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
