<script>
	import { _ } from 'svelte-i18n';
	import { onMount } from 'svelte';
	import LoadingPage from '../loading/LoadingPage.svelte';

	export let id;
	export let classes = '';

	let visible = false;

	onMount(async () => {
		setTimeout(async () => {
			visible = true;
		}, 100);
	});
</script>

<style>
</style>

{#if visible}
	<div {id} class={classes}>
		<slot />
	</div>
{:else}
	<LoadingPage />
{/if}
