<script>
	import { stores, goto } from '@sapper/app';
	import { onMount } from 'svelte';
	import * as yup from 'yup';
	import { extractError, extractErrors } from '../../functions';
	import {
		editSetting as apiEditSetting,
		detailSetting as apiDetailSetting,
	} from '../../services/model';
	import { getToken } from '../../stores';
	import ButtonLoading from '../loading/ButtonLoading.svelte';

	let values = {
		key: '',
		value: '',
	};
	let errors = {};

	const { session, page } = stores();
	const { domainModel } = $session;

	let isLoading = false;
	onMount(async () => {
		await detailSetting();
	});
	const detailSetting = () => {
		isLoading = true;
		const token = getToken();
		return new Promise((resolve, reject) => {
			apiDetailSetting(domainModel, {
				token,
				id: $page.params.id,
			})
				.then((item) => {
					values.key = item.key;
					values.value = item.value;
					isLoading = false;
					resolve();
				})
				.catch(() => {
					isLoading = false;
					isServerError = true;
					reject();
				});
		});
	};
	const editSetting = () => {
		const token = getToken();
		isLoading = true;
		return new Promise((resolve, reject) => {
			apiEditSetting(domainModel, {
				token,
				id: $page.params.id,
				key: values.key,
				value: values.value,
			})
				.then(() => {
					isLoading = false;
					resolve();
				})
				.catch((error) => {
					let text =
						'Server is in construction. Please press F5/refresh and try again.';
					if (error.response) {
						const { status, data } = error.response;
						if (status === 400) {
							const { obj } = data;
							if (obj === 'ERR_EXIST') text = 'This setting already exists!';
						}
					}
					Swal.fire('Error!', text, 'error');
					isLoading = false;
					reject();
				});
		});
	};
	const schema = yup.object().shape({
		key: yup.string('Key is string').required('Key is required'),
		value: yup.string('Value is string').required('Value is required'),
	});
	const validate = async (field) => {
		try {
			await schema.validateAt(field, values);
			errors[field] = '';
		} catch (error) {
			errors[field] = extractError(error, field);
		}
	};
	const handleSubmit = async () => {
		isLoading = true;
		try {
			await schema.validate(values, { abortEarly: false });
			errors = {};
			await editSetting();
			setTimeout(async () => {
				Swal.fire({
					position: 'top-right',
					icon: 'success',
					title: 'Edit setting ' + values.key + ' success',
					showConfirmButton: false,
					timer: 2000,
				});
				isLoading = false;
				goto('/settings');
			}, 300);
		} catch (error) {
			isLoading = false;
			if (error) {
				errors = extractErrors(error);
			}
		}
	};
</script>

<div class="card card-custom">
	<div class="card-header flex-wrap border-0 pt-6 pb-0">
		<div class="card-title">
			<h3 class="card-label">
				Setting Edit
				<span class="d-block text-muted pt-2 font-size-sm">Management settings
					list</span>
			</h3>
		</div>
	</div>
	<div class="card-body">
		<form
			class="form"
			autocomplete="off"
			on:submit|preventDefault={handleSubmit}
			novalidate="novalidate">
			<div class="card-body">
				<h3 class="font-size-lg text-dark font-weight-bold mb-6">
					Setting Info:
				</h3>
				<div class="mb-15">
					<div class="form-group row">
						<!-- svelte-ignore a11y-label-has-associated-control -->
						<label class="col-lg-3 col-form-label">Key:</label>
						<div class="col-lg-6">
							<input
								bind:value={values.key}
								type="text"
								class="form-control"
								placeholder="Enter Key"
								on:input={() => validate('key')}
								on:blur={() => validate('key')} />
							{#if errors.key}
								<span class="form-text text-danger">{errors.key}</span>
							{/if}
						</div>
					</div>
					<div class="form-group row">
						<!-- svelte-ignore a11y-label-has-associated-control -->
						<label class="col-lg-3 col-form-label">Value:</label>
						<div class="col-lg-6">
							<textarea
								class="form-control"
								rows="3"
								bind:value={values.value}
								placeholder="Enter Value"
								on:input={() => validate('value')}
								on:blur={() => validate('value')} />
							{#if errors.value}
								<span class="form-text text-danger">{errors.value}</span>
							{/if}
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer">
				<div class="row">
					<div class="col-lg-3" />
					<div class="col-lg-6">
						<div class="card-toolbar">
							<button
								on:click={() => goto('settings')}
								type="button"
								class="btn btn-light-primary font-weight-bolder mr-2">
								<i class="ki ki-long-arrow-back icon-xs" />Back</button>
							{#if isLoading}
								<ButtonLoading />
							{:else}
								<button
									type="submit"
									class="btn btn-primary font-weight-bolder">
									<i class="ki ki-check icon-xs" />Save Form</button>
							{/if}
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
