<script>
	import { onDestroy, onMount } from 'svelte';

	export let styled = false;
	export let fluid = false;
	export let inverted = false;

	let rootEle;

	let ui = true;
	let accordion = true;

	onMount(() => {
		window.$(rootEle).accordion();
	});

	onDestroy(() => {
		if (rootEle) {
			window.$(rootEle).accordion('destroy');
		}
	});
</script>

<div
	class:ui
	class:styled
	class:fluid
	class:inverted
	class:accordion
	bind:this={rootEle}>
	<slot />
</div>
