<script>
	let clazz = '';
	export { clazz as class };

	export let as = 'button';
	export let type = 'button';
	export let primary = false;
	export let secondary = false;
	export let positive = false;
	export let negative = false;
	export let vertical = false;
	export let animated = false;
	export let fade = false;
	export let right = false;
	export let left = false;
	export let floated = false;
	export let labeled = false;
	export let icon = false;
	export let basic = false;
	export let tertiary = false;
	export let inverted = false;
	export let active = false;
	export let disabled = false;
	export let double = false;
	export let elastic = false;
	export let loading = false;
	export let facebook = false;
	export let twitter = false;
	export let google = false;
	export let plus = false;
	export let vk = false;
	export let linkedin = false;
	export let instagram = false;
	export let youtube = false;
	export let whatsapp = false;
	export let telegram = false;
	export let compact = false;
	export let fluid = false;
	export let circular = false;

	export let mini = false;
	export let tiny = false;
	export let small = false;
	export let medium = false;
	export let large = false;
	export let big = false;
	export let huge = false;
	export let massive = false;

	export let red = false;
	export let orange = false;
	export let yellow = false;
	export let olive = false;
	export let green = false;
	export let teal = false;
	export let blue = false;
	export let violet = false;
	export let purple = false;
	export let pink = false;
	export let brown = false;
	export let grey = false;
	export let black = false;
	let ui = true;
	let button = true;
	import { createEventDispatcher } from 'svelte';

	const dispatch = createEventDispatcher();

	const handleClick = (event) => {
		dispatch('click', event);
	};
</script>

{#if as === 'button'}
	<button
		{type}
		class={clazz}
		class:ui
		class:fluid
		class:circular
		class:compact
		class:mini
		class:tiny
		class:small
		class:medium
		class:large
		class:big
		class:huge
		class:massive
		class:facebook
		class:twitter
		class:google
		class:plus
		class:vk
		class:linkedin
		class:instagram
		class:youtube
		class:whatsapp
		class:telegram
		class:basic
		class:icon
		class:left
		class:right
		class:floated
		class:inverted
		class:primary
		class:secondary
		class:positive
		class:negative
		class:tertiary
		class:vertical
		class:animated
		class:labeled
		class:fade
		class:active
		class:disabled
		class:double
		class:elastic
		class:loading
		class:red
		class:orange
		class:yellow
		class:olive
		class:green
		class:teal
		class:blue
		class:violet
		class:purple
		class:pink
		class:brown
		class:grey
		class:black
		class:button
		on:click={handleClick}>
		<slot />
	</button>
{:else if as === 'div'}
	<div
		class={clazz}
		class:ui
		class:fluid
		class:circular
		class:compact
		class:mini
		class:tiny
		class:small
		class:medium
		class:large
		class:big
		class:huge
		class:massive
		class:facebook
		class:twitter
		class:google
		class:plus
		class:vk
		class:linkedin
		class:instagram
		class:youtube
		class:whatsapp
		class:telegram
		class:basic
		class:icon
		class:left
		class:right
		class:floated
		class:inverted
		class:primary
		class:secondary
		class:positive
		class:negative
		class:tertiary
		class:vertical
		class:animated
		class:labeled
		class:fade
		class:active
		class:disabled
		class:double
		class:elastic
		class:loading
		class:red
		class:orange
		class:yellow
		class:olive
		class:green
		class:teal
		class:blue
		class:violet
		class:purple
		class:pink
		class:brown
		class:grey
		class:black
		class:button>
		<slot />
	</div>
{/if}
