<script>
	let clazz = '';
	export { clazz as class };
	export let icon = false;
	export let vertical = false;
	export let labeled = false;

	let ui = true;
	let buttons = true;
</script>

<div
	class={clazz}
	class:ui
	class:icon
	class:vertical
	class:labeled
	class:buttons>
	<slot />
</div>
