<script>
	let clazz = '';
	export { clazz as class };

	export let one = false;
	export let two = false;
	export let three = false;
	export let four = false;
	export let five = false;
	export let six = false;
	export let seven = false;
	export let eight = false;
	export let nine = false;
	export let ten = false;
	export let eleven = false;
	export let twelve = false;
	export let thirteen = false;
	export let fourteen = false;
	export let fifteen = false;
	export let sixteen = false;
	export let wide = false;

	export let left = false;
	export let right = false;
	export let floated = false;
	export let center = false;
	export let aligned = false;

	export let red = false;
	export let orange = false;
	export let yellow = false;
	export let olive = false;
	export let green = false;
	export let teal = false;
	export let blue = false;
	export let violet = false;
	export let purple = false;
	export let pink = false;
	export let brown = false;
	export let grey = false;
	export let black = false;

	let column = true;
</script>

<div
	class={clazz}
	class:one
	class:two
	class:three
	class:four
	class:five
	class:six
	class:seven
	class:eight
	class:nine
	class:ten
	class:eleven
	class:twelve
	class:thirteen
	class:fourteen
	class:fifteen
	class:sixteen
	class:wide
	class:left
	class:right
	class:floated
	class:red
	class:orange
	class:yellow
	class:olive
	class:green
	class:teal
	class:blue
	class:violet
	class:purple
	class:pink
	class:brown
	class:grey
	class:black
	class:center
	class:aligned
	class:column>
	<slot />
</div>
