<script>
	let clazz = '';
	export { clazz as class };
	export let fluid = false;
	export let main = false;
	export let grid = false;

	let ui = true;
	let container = true;
</script>

<style>
	.main {
		margin-right: 387px !important;
		margin-left: 3em !important;
		width: auto !important;
		max-width: 960px !important;
		padding: 2em 0em 7em;
		position: relative;
	}
	@media only screen and (max-width: 1272px) {
		.main {
			margin-right: 318px !important;
		}
	}
</style>

{#if fluid}
	<div class={clazz} class:ui class:main class:container-fluid={fluid}>
		<slot />
	</div>
{:else}
	<div class={clazz} class:ui class:grid class:main class:container>
		<slot />
	</div>
{/if}
