<script>
	let clazz = '';
	export { clazz as class };
	export let visible = false;
	export let hidden = false;
	export let active = false;

	let content = true;
</script>

<div class={clazz} class:visible class:hidden class:active class:content>
	<slot />
</div>
