<script>
	let clazz = '';
	export { clazz as class };
	export let active = false;
	let ui = true;
	let dimmer = true;
</script>

<div class:ui class={clazz} class:active class:dimmer>
	<slot />
</div>
