<script>
	let clazz = '';
	export { clazz as class };

	export let vertical = false;

	let ui = true;
	let divider = true;
</script>

<div class={clazz} class:ui class:vertical class:divider>
	<slot />
</div>
