<script>
	import { onDestroy, onMount } from 'svelte';
	import Icon from './Icon.svelte';
	import Image from './Image.svelte';
	import Item from './Item.svelte';
	import Menu from './Menu.svelte';
	import Text from './Text.svelte';

	export let fluid = false;
	export let selection = false;
	export let multiple = false;
	export let floating = false;
	export let button = false;
	export let icon = false;
	export let labeled = false;
	export let item = false;
	export let left = false;
	export let right = false;
	export let text = false;
	export let key = 'value';
	export let display = 'name';
	export let displayFlag = 'flag';
	export let displayAvatar = 'avatar';
	export let search = false;
	export let clearable = false;
	export let rightIcon = 'dropdown';
	export let placeholder = '';
	export let name = '';
	export let values = [];

	export let list = [];

	let rootEle;
	let rootInstance;

	let ui = true;
	let dropdown = true;

	onMount(() => {
		rootInstance = window.$(rootEle).dropdown();
	});

	onDestroy(() => {
		if (rootInstance) {
			rootInstance.dropdown('destroy');
		}
	});
</script>

<div
	class:ui
	class:left
	class:right
	class:fluid
	class:search
	class:clearable
	class:selection
	class:multiple
	class:floating
	class:dropdown
	class:item
	class:icon
	class:labeled
	class:button
	bind:this={rootEle}>
	{#if selection}<input type="hidden" {name} />{/if}
	{#if text}{text}{/if}
	<Icon i={rightIcon} />
	{#if selection}
		<Text placeholder>{placeholder}</Text>
	{/if}
	<Menu scrollhint={selection}>
		{#if selection}
			{#each values as item}
				<Item value={item[key]}>
					{#if item[displayAvatar]}
						<Image mini avatar src={item[displayAvatar]} alt={item[display]} />
					{/if}
					{#if item[displayFlag]}<i class={`${item[displayFlag]} flag`} />{/if}
					{item[display]}
				</Item>
			{/each}
		{/if}
		{#if text}
			{#each list as l}
				{#if l.url}
					<Item as="a" href={l.url}>{l.name}</Item>
				{:else}
					<Item>{l.name}</Item>
				{/if}
			{/each}
		{/if}
		<slot />
	</Menu>
</div>
