<script>
	let clazz = '';
	export { clazz as class };
	export let placeholder = '';
	export let inline = false;
	let field = true;
</script>

<div class={clazz} class:inline class:field class:placeholder>
	<slot />
</div>
