<script>
	export let classes = '';
	export let alignTop = false;
	export let alignCenter = false;
	export let alignBottom = false;
	export let justifyStart = false;
	export let justifyCenter = false;
	export let justifyEnd = false;
	export let justifyAround = false;
	export let justifyBetween = false;
	export let vertical = false;
</script>

<style>
	.flex {
		display: -webkit-box !important;
		display: -ms-flexbox !important;
		display: flex !important;
		box-sizing: border-box;
	}
	.vertical {
		-webkit-box-orient: vertical !important;
		-webkit-box-direction: normal !important;
		-ms-flex-direction: column !important;
		flex-direction: column !important;
	}
	.align-start {
		-ms-flex-align: start !important;
		align-items: flex-start !important;
	}
	.align-end {
		-ms-flex-align: end !important;
		align-items: flex-end !important;
	}
	.align-center {
		-ms-flex-align: center !important;
		align-items: center !important;
	}
	.justify-content-start {
		-ms-flex-pack: start !important;
		justify-content: flex-start !important;
	}

	.justify-content-end {
		-ms-flex-pack: end !important;
		justify-content: flex-end !important;
	}

	.justify-content-center {
		-ms-flex-pack: center !important;
		justify-content: center !important;
	}

	.justify-content-between {
		-ms-flex-pack: justify !important;
		justify-content: space-between !important;
	}

	.justify-content-around {
		-ms-flex-pack: distribute !important;
		justify-content: space-around !important;
	}
</style>

<div
	class={classes ? `${classes} flex` : 'flex'}
	class:align-start={alignTop}
	class:align-end={alignBottom}
	class:align-center={alignCenter}
	class:justify-content-start={justifyStart}
	class:justify-content-center={justifyCenter}
	class:justify-content-end={justifyEnd}
	class:justify-content-around={justifyAround}
	class:justify-content-between={justifyBetween}
	class:vertical>
	<slot />
</div>
