<script>
	import { createEventDispatcher } from 'svelte';
	const dispatch = createEventDispatcher();
	let clazz = '';
	export let fluid = false;
	export let large = false;
	export let error = false;
	export let autocomplete = '';

	let ui = true;
	let form = true;

	const handleSubmit = (event) => {
		dispatch('click', event);
	};
</script>

<form
	on:submit|preventDefault={handleSubmit}
	class={clazz}
	class:ui
	class:large
	class:autocomplete
	class:fluid
	class:form
	class:error>
	<slot />
</form>
