<script>
	let clazz = '';
	export { clazz as class };

	export let icon = false;
	export let attached = false;
	export let center = false;
	export let aligned = false;
	export let purple = false;
	export let sub = false;
	export let justified = false;
	export let dividing = false;
	export let image = false;
	export let teal = false;
	export let as = 'div';

	let ui = true;
	let header = true;
</script>

{#if as === 'h4'}
	<h4
		class={clazz}
		class:ui
		class:teal
		class:sub
		class:attached
		class:center
		class:aligned
		class:header
		class:icon>
		<slot />
	</h4>
{:else if as === 'h1'}
	<h1
		class={clazz}
		class:ui
		class:sub
		class:attached
		class:center
		class:aligned
		class:header
		class:icon>
		<slot />
	</h1>
{:else if as === 'h2'}
	<h2
		class={clazz}
		class:ui
		class:sub
		class:teal
		class:purple
		class:attached
		class:center
		class:justified
		class:aligned
		class:dividing
		class:image
		class:header
		class:icon>
		<slot />
	</h2>
{:else if as === 'h3'}
	<h3
		class={clazz}
		class:ui
		class:sub
		class:attached
		class:center
		class:aligned
		class:header
		class:icon>
		<slot />
	</h3>
{:else if as === 'h5'}
	<h5
		class={clazz}
		class:ui
		class:sub
		class:attached
		class:center
		class:aligned
		class:header
		class:icon>
		<slot />
	</h5>
{:else}
	<div
		class={clazz}
		class:ui
		class:image
		class:sub
		class:center
		class:aligned
		class:attached
		class:header
		class:icon>
		<slot />
	</div>
{/if}
