<script>
	let clazz = '';
	export { clazz as class };
	export let full = false;
	let height = true;
</script>

<style>
	.full {
		height: 100vh;
	}
</style>

<div class={clazz} class:full class:height>
	<slot />
</div>
