<script>
	let clazz = '';
	export let as = 'img';
	export { clazz as class };
	export let alt = '';
	export let src = '';
	export let avatar = false;
	export let fluid = false;
	export let mini = false;
	export let wireFrame = false;
	export let small = false;
	export let tiny = false;
	let ui = true;
	let image = true;
</script>

{#if as === 'img'}
	<img
		class={clazz}
		class:ui
		class:mini
		class:tiny
		class:small
		class:avatar
		class:fluid
		class:wireFrame
		class:image
		{alt}
		{src} />
{:else if as === 'div'}
	<div
		class={clazz}
		class:ui
		class:mini
		class:avatar
		class:fluid
		class:wireFrame
		class:image>
		<slot />
	</div>
{/if}
