<script>
	let clazz = '';
	export { clazz as class };

	export let icon = false;
	export let small = false;
	export let medium = false;
	export let left = false;
	let ui = true;
	let input = true;
</script>

<div
	class={clazz}
	class:ui
	class:left
	class:icon
	class:small
	class:medium
	class:input>
	<slot />
</div>
