<script>
	import { createEventDispatcher } from 'svelte';
	const dispatch = createEventDispatcher();

	let clazz = '';
	export { clazz as class };

	export let as = 'div';
	export let href = '';
	export let value = '';
	export let active = false;
	export let browse = false;

	let item = true;

	const handleClick = (event) => {
		dispatch('click', {
			event,
		});
	};
</script>

{#if as === 'a'}
	<a class={clazz} class:browse class:active class:item {href}>
		<slot />
	</a>
{:else}
	<div
		class={clazz}
		class:browse
		class:active
		class:item
		data-value={value}
		on:click={handleClick}>
		<slot />
	</div>
{/if}
