<script>
	let clazz = '';

	export let as = 'a';
	export let left = false;
	export let right = false;
	export let pointing = false;
	export let below = false;
	export let top = false;
	export let bottom = false;
	export let attached = false;
	export let basic = false;

	export let red = false;
	export let orange = false;
	export let yellow = false;
	export let olive = false;
	export let green = false;
	export let teal = false;
	export let blue = false;
	export let violet = false;
	export let purple = false;
	export let pink = false;
	export let brown = false;
	export let grey = false;
	export let black = false;
	export let image = false;
	export let corner = false;
	export let tag = false;
	export let ribbon = false;
	export let icon = false;

	let ui = true;
	let label = true;
</script>

<!-- svelte-ignore a11y-missing-attribute -->

{#if as === 'a'}
	<a
		class={clazz}
		class:ui
		class:basic
		class:left
		class:right
		class:top
		class:bottom
		class:attached
		class:pointing
		class:red
		class:orange
		class:yellow
		class:olive
		class:green
		class:teal
		class:blue
		class:violet
		class:purple
		class:pink
		class:brown
		class:grey
		class:black
		class:image
		class:corner
		class:below
		class:tag
		class:ribbon
		class:icon
		class:label>
		<slot />
	</a>
{:else if as === 'div'}
	<div
		class={clazz}
		class:ui
		class:basic
		class:left
		class:right
		class:top
		class:bottom
		class:attached
		class:pointing
		class:red
		class:orange
		class:yellow
		class:olive
		class:green
		class:teal
		class:blue
		class:violet
		class:purple
		class:pink
		class:brown
		class:grey
		class:black
		class:image
		class:corner
		class:below
		class:tag
		class:ribbon
		class:icon
		class:label>
		<slot />
	</div>
{/if}
