<script>
	let clazz = '';
	export { clazz as class };
	export let bulleted = false;
	export let ordered = false;
	export let link = false;
	export let middle = false;
	export let aligned = false;
	export let divided = false;
	export let relaxed = false;
	export let animated = false;
	export let selection = false;
	export let inverted = false;
	export let celled = false;
	export let horizontal = false;

	export let mini = false;
	export let tiny = false;
	export let small = false;
	export let large = false;
	export let big = false;
	export let huge = false;
	export let massive = false;
	let ui = true;
	let list = true;
</script>

<div
	class:ui
	class={clazz}
	class:mini
	class:horizontal
	class:tiny
	class:small
	class:large
	class:huge
	class:big
	class:massive
	class:bulleted
	class:celled
	class:middle
	class:aligned
	class:divided
	class:link
	class:relaxed
	class:animated
	class:selection
	class:ordered
	class:inverted
	class:list>
	<slot />
</div>
