<script>
	let clazz = '';
	export { clazz as class };
	export let text = false;
	export let indeterminate = false;
	export let active = false;
	export let disabled = false;
	export let fast = false;
	export let slow = false;
	export let centered = false;
	export let inline = false;
	export let primary = false;
	export let secondary = false;
	export let red = false;
	export let orange = false;
	export let yellow = false;
	export let olive = false;
	export let green = false;
	export let teal = false;
	export let blue = false;
	export let violet = false;
	export let purple = false;
	export let pink = false;
	export let brown = false;
	export let grey = false;
	export let black = false;
	export let mini = false;
	export let tiny = false;
	export let large = false;
	export let small = false;
	export let big = false;
	export let huge = false;
	export let massive = false;
	export let medium = false;
	export let elastic = false;
	export let double = false;
	let ui = true;
	let loader = true;
</script>

<div
	class:ui
	class={clazz}
	class:text
	class:primary
	class:secondary
	class:red
	class:orange
	class:yellow
	class:olive
	class:green
	class:teal
	class:blue
	class:violet
	class:purple
	class:pink
	class:brown
	class:grey
	class:black
	class:mini
	class:tiny
	class:huge
	class:medium
	class:large
	class:small
	class:massive
	class:big
	class:double
	class:inline
	class:disabled
	class:slow
	class:fast
	class:centered
	class:active
	class:elastic
	class:indeterminate
	class:loader>
	<slot />
</div>
