<script>
	let clazz = '';
	export { clazz as class };
	export let scrollhint = false;
	export let vertical = false;
	export let item = false;
	export let text = false;
	export let top = false;
	export let bottom = false;
	export let attached = false;
	export let two = false;
	export let three = false;

	let ui = true;
	let menu = true;
</script>

<div
	class:ui
	class={clazz}
	class:scrollhint
	class:top
	class:bottom
	class:attached
	class:text
	class:two
	class:three
	class:item
	class:vertical
	class:menu>
	<slot />
</div>
