<script>
	let clazz = '';
	export { clazz as class };

	export let top = false;
	export let bottom = false;
	export let attached = false;
	export let warning = false;

	let ui = true;
	let message = true;
</script>

<div
	class={clazz}
	class:ui
	class:top
	class:bottom
	class:attached
	class:warning
	class:message>
	<slot />
</div>
