<script>
	let clazz = '';
	export { clazz as class };
	export let overlay = false;
	export let fullscreen = false;
	let ui = true;
	let modal = true;
</script>

<div class:ui class={clazz} class:overlay class:fullscreen class:modal>
	<slot />
</div>
