<script>
	let clazz = '';
	export { clazz as class };

	export let middle = false;
	export let center = false;
	export let aligned = false;

	export let one = false;
	export let two = false;
	export let three = false;
	export let four = false;
	export let five = false;
	export let six = false;
	export let seven = false;
	export let eight = false;
	export let nine = false;
	export let ten = false;
	export let eleven = false;
	export let twelve = false;
	export let thirteen = false;
	export let fourteen = false;
	export let fifteen = false;
	export let sixteen = false;
	export let column = false;
	export let centered = false;

	let row = true;
</script>

<div
	class={clazz}
	class:one
	class:two
	class:three
	class:four
	class:five
	class:six
	class:seven
	class:eight
	class:nine
	class:ten
	class:eleven
	class:twelve
	class:thirteen
	class:fourteen
	class:fifteen
	class:sixteen
	class:column
	class:middle
	class:center
	class:aligned
	class:centered
	class:row>
	<slot />
</div>
