<script>
	import { onDestroy, onMount } from 'svelte';

	let clazz = '';
	export { clazz as class };

	let ui = true;
	let search = true;

	let rootEle;

	onMount(() => {
		window.$(rootEle).search({
			type: 'category',
		});
	});

	onDestroy(() => {
		if (rootEle) {
			window.$(rootEle).search('destroy');
		}
	});
</script>

<div class={clazz} class:ui class:search>
	<slot />
</div>
