<script>
	import { createEventDispatcher } from 'svelte';
	const dispatch = createEventDispatcher();

	let clazz = '';
	export { clazz as class };

	export let placeholder = false;
	export let raised = false;
	export let tall = false;
	export let stacked = false;
	export let piled = false;
	export let vertical = false;
	export let horizontal = false;
	export let fitted = false;
	export let basic = false;
	export let secondary = false;
	export let disabled = false;
	export let loading = false;
	export let double = false;
	export let usual = false;
	export let inverted = false;
	export let top = false;
	export let bottom = false;
	export let attached = false;
	export let padded = false;
	export let very = false;
	export let horizontally = false;
	export let vertically = false;
	export let compact = false;
	export let tertiary = false;
	export let circular = false;
	export let clearing = false;
	export let right = false;
	export let left = false;
	export let center = false;
	export let floated = false;
	export let aligned = false;

	export let red = false;
	export let orange = false;
	export let yellow = false;
	export let olive = false;
	export let green = false;
	export let teal = false;
	export let blue = false;
	export let violet = false;
	export let purple = false;
	export let pink = false;
	export let brown = false;
	export let grey = false;
	export let black = false;

	let ui = true;
	let segment = true;

	const handleClick = (event) => {
		dispatch('click', {
			event,
		});
	};
</script>

<div
	on:click={handleClick}
	class={clazz}
	class:ui
	class:left
	class:right
	class:center
	class:floated
	class:aligned
	class:very
	class:padded
	class:top
	class:bottom
	class:attached
	class:inverted
	class:disabled
	class:placeholder
	class:raised
	class:tall
	class:stacked
	class:piled
	class:vertical
	class:horizontal
	class:vertically
	class:horizontally
	class:compact
	class:fitted
	class:basic
	class:secondary
	class:usual
	class:double
	class:loading
	class:tertiary
	class:circular
	class:clearing
	class:red
	class:orange
	class:yellow
	class:olive
	class:green
	class:teal
	class:blue
	class:violet
	class:purple
	class:pink
	class:brown
	class:grey
	class:black
	class:segment>
	<slot />
</div>
