<script>
	let clazz = '';
	export { clazz as class };
	export let basic = false;
	export let horizontal = false;
	export let stackable = false;
	export let raised = false;
	export let stacked = false;
	export let piled = false;
	export let compact = false;

	let ui = true;
	let segments = true;
</script>

<div
	class={clazz}
	class:ui
	class:basic
	class:compact
	class:horizontal
	class:stackable
	class:raised
	class:stacked
	class:piled
	class:segments>
	<slot />
</div>
