<script>
	import { onDestroy, onMount } from 'svelte';

	export let isOpen = false;
	export let visible = false;
	export let inverted = false;
	export let left = false;
	export let right = false;
	export let vertical = false;
	export let menu = false;
	export let very = false;
	export let wide = false;
	export let thin = false;
	export let onHidden;

	let target;
	let sidebarEle;
	let pusherEle;
	let prevIsOpen = false;

	let ui = true;
	let sidebar = true;

	$: {
		if (prevIsOpen !== isOpen) {
			if (isOpen) {
				window.$(sidebarEle).sidebar('toggle');
			}
			prevIsOpen = isOpen;
		}
	}

	onMount(() => {
		target = document.body;
		pusherEle = document.getElementById('sapper');
		pusherEle.classList.add('pusher');

		target.appendChild(sidebarEle);
		target.appendChild(pusherEle);

		window.$(sidebarEle).sidebar({
			context: document.body,
			delaySetup: false,
			exclusive: false,
			closable: true,
			dimPage: true,
			scrollLock: true,
			returnScroll: false,
			onVisible: () => {},
			onShow: () => {},
			onChange: () => {},
			onHide: () => {},
			onHidden: onHidden,
		});
	});

	onDestroy(() => {
		if (pusherEle) {
			window.$(sidebarEle).sidebar('destroy');
			pusherEle.classList.remove('pusher');
			//document.body.classList.remove('pushable');
		}
	});
</script>

<div
	class:ui
	class:very
	class:thin
	class:wide
	class:visible
	class:inverted
	class:left
	class:right
	class:vertical
	class:sidebar
	class:menu
	bind:this={sidebarEle}>
	<slot />
</div>
