<script>
	let clazz = '';
	export let active = false;
	export let disabled = false;
	export let completed = false;
	export let as = 'div';
	export let href = '';
	let step = true;
</script>

{#if as === 'div'}
	<div class={clazz} class:active class:completed class:disabled class:step>
		<slot />
	</div>
{:else if as === 'a'}
	<a
		class={clazz}
		{href}
		class:active
		class:completed
		class:disabled
		class:step>
		<slot />
	</a>
{/if}
