<script>
	let clazz = '';
	export { clazz as class };
	export let ordered = false;
	export let vertical = false;
	export let right = false;
	export let mini = false;
	export let tiny = false;
	export let small = false;
	export let large = false;
	export let medium = false;
	export let massive = false;
	export let big = false;
	export let huge = false;
	let ui = true;
	let steps = true;
</script>

<div
	class:ui
	class={clazz}
	class:ordered
	class:mini
	class:tiny
	class:medium
	class:large
	class:small
	class:huge
	class:big
	class:massive
	class:right
	class:vertical
	class:steps>
	<slot />
</div>
