<script>
	let clazz = '';
	export { clazz as class };
	export let red = false;
	export let placeholder = false;
	export let blue = false;
	export let purple = false;
	export let info = false;
	export let warning = false;
	export let success = false;
	export let error = false;
	export let mini = false;
	export let tiny = false;
	export let small = false;
	export let medium = false;
	export let large = false;
	export let big = false;
	export let huge = false;
	export let massive = false;
	export let orange = false;
	export let yellow = false;
	export let olive = false;
	export let green = false;
	export let teal = false;
	export let violet = false;
	export let pink = false;
	export let brown = false;
	export let grey = false;
	let ui = true;
	let text = true;
</script>

<span
	class={clazz}
	class:ui
	class:red
	class:blue
	class:purple
	class:info
	class:warning
	class:success
	class:error
	class:mini
	class:tiny
	class:small
	class:medium
	class:large
	class:big
	class:huge
	class:massive
	class:orange
	class:yellow
	class:olive
	class:green
	class:teal
	class:violet
	class:pink
	class:brown
	class:grey
	class:default={placeholder}
	class:text>
	<slot />
</span>
