<script>
	import { onMount } from 'svelte';
	import { goto } from '@sapper/app';
	import Header from '../../components/header/Header.svelte';
	import Menu from '../../components/menu/index.svelte';
	import TransitionWrapper from '../../components/transition/TransitionWrapper.svelte';
	import { isAuth } from '../../stores';
	import OrderPage from '../../components/order/OrderPage.svelte';
	import Breadcrumb from '../../components/utilities/Breadcrumb.svelte';
	import BreadcrumbItem from '../../components/utilities/BreadcrumbItem.svelte';

	let visible = false;

	onMount(async () => {
		if (!isAuth()) {
			await goto('/login');
		} else {
			visible = true;
		}
	});
</script>

<svelte:head>
	<title>Orders list Page</title>
</svelte:head>
{#if visible}
	<TransitionWrapper id="orders">
		<Menu />
		<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
			<Header />
			<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
				<Breadcrumb>
					<BreadcrumbItem active={true} message="Orders List" />
				</Breadcrumb>
				<div class="d-flex flex-row flex-column-fluid page">
					<div class="container">
						<OrderPage />
					</div>
				</div>
			</div>
		</div>
	</TransitionWrapper>
{/if}
