<script>
	import { getEmail, getToken, removeAuth } from '../../stores';
	import { stores, goto } from '@sapper/app';

	import { logout as apiLogout } from '../../services/user';
	import { extractNameFromEmail } from '../../functions';

	const { session } = stores();
	const { domainAuthWeb } = $session;

	const logout = () => {
		const token = getToken();
		console.log(token);
		apiLogout(domainAuthWeb, { token })
			.then(() => {
				Swal.fire({
					position: 'top-right',
					icon: 'success',
					title: 'Logout Success',
					showConfirmButton: false,
					timer: 1500,
				});
				removeAuth();
				setTimeout(() => {
					goto('login');
				}, 300);
			})
			.catch(() => {
				Swal.fire(
					'Error!',
					'Server is in construction. Please press F5/refresh and try again.',
					'error'
				);
			});
	};

	const handleLogout = () => {
		Swal.fire({
			title: 'Logout',
			text: 'Are you sure logout?',
			icon: 'question',
			showCancelButton: true,
			confirmButtonText: 'Yes',
			cancelButtonText: 'No',
			reverseButtons: true,
		}).then(function (result) {
			if (result.value) {
				logout();
			}
		});
	};
</script>

<style>
	.ttu {
		text-transform: uppercase;
	}
</style>

<!--begin::Header-->
<div id="kt_header" class="header header-fixed">
	<!--begin::Container-->
	<div
		class="container-fluid d-flex align-items-stretch justify-content-between">
		<!--begin::Header Menu Wrapper-->
		<div
			class="header-menu-wrapper header-menu-wrapper-left"
			id="kt_header_menu_wrapper">
			<!--begin::Header Menu-->
			<div
				id="kt_header_menu"
				class="header-menu header-menu-mobile header-menu-layout-default">
				<!--begin::Header Nav-->

				<!--end::Header Nav-->
			</div>
			<!--end::Header Menu-->
		</div>
		<!--end::Header Menu Wrapper-->
		<!--begin::Topbar-->
		<div class="topbar">
			<!--begin::user-->
			<div class="dropdown">
				<!--begin::Toggle-->
				<div class="topbar-item" data-toggle="dropdown" data-offset="10px,0px">
					<div
						class="btn btn-icon btn-icon-mobile w-auto btn-clean d-flex align-items-center btn-lg px-2">
						<span
							class="text-muted font-weight-bold font-size-base mr-1">Hi,</span>
						<span
							class="text-dark-50 font-weight-bolder font-size-base mr-3">{extractNameFromEmail(getEmail())}</span>
						<span class="symbol symbol-lg-35 symbol-25 symbol-light-success">
							<span
								class="symbol-label font-size-h5 font-weight-bold ttu">{getEmail().charAt(0)}</span>
						</span>
					</div>
				</div>
				<!--end::Toggle-->
				<!--begin::Dropdown-->
				<div
					class="dropdown-menu p-0 m-0 dropdown-menu-anim-up dropdown-menu-sm dropdown-menu-right">
					<!--begin::Nav-->
					<ul class="navi navi-hover py-4">
						<li class="navi-item">
							<!-- svelte-ignore a11y-invalid-attribute -->
							<a href="#" class="navi-link">
								<span class="navi-text">My Account</span>
							</a>
						</li>
						<li class="navi-item">
							<!-- svelte-ignore a11y-invalid-attribute -->
							<!-- svelte-ignore a11y-missing-attribute -->
							<a on:click={handleLogout} class="navi-link cursor-pointer">
								<span class="navi-text">Logout</span>
							</a>
						</li>
					</ul>
					<!--end::Nav-->
				</div>
				<!--end::Dropdown-->
			</div>
			<!--end::user-->
		</div>
		<!--end::Topbar-->
	</div>
	<!--end::Container-->
</div>
<!--end::Header-->
