<script>
	import { onMount } from 'svelte';

	onMount(() => {
		KTApp.block('#kt_blockui_card', {
			overlayColor: '#000000',
			state: 'danger',
			message: 'Please wait...',
		});
	});
</script>

<div class="card card-custom gutter-b" id="kt_blockui_card" />
