<div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
	<div
		class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
		<div class="d-flex align-items-center flex-wrap mr-2">
			<ul
				class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
				<li class="breadcrumb-item">
					<a href="/" class="text-primary">Dashboard</a>
				</li>
				<slot />
			</ul>
		</div>
	</div>
</div>
