<script>
	export let active = false;
	export let message;
	export let href = '';
</script>

{#if active}
	<li class="breadcrumb-item"><span class="text-muted">{message}</span></li>
{:else}
	<li class="breadcrumb-item"><a {href} class="text-primary">{message}</a></li>
{/if}
