<script>
	import { onMount } from 'svelte';

	import { PaginationNav } from 'svelte-paginate';
	import config from '../../config';

	export let totalItems;
	export let offset = 0;
	export let onPage;

	$: {
		if (visible) {
			currentPage =
				offset >= totalItems ? -1 : parseInt(offset / config.limit) + 1;
		}
	}

	let currentPage = 1;
	let visible = false;

	onMount(() => {
		visible = true;
	});
</script>

<style>
	.custom :global(.pagination-nav) {
		width: 100%;
		display: flex;
		justify-content: center;
		background: #fff;
	}
	.custom :global(.option) {
		border-radius: 6px;
		border: 1px solid #f3f6f9;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: 0.2s all ease-out;
		user-select: none;
		width: 35px;
		height: 35px;
		color: #53646f;
		font-size: 13px;
		margin-left: 10px;
		cursor: pointer;
	}
	.custom :global(.option.active) {
		color: #ffffff;
		background-color: #3699ff;
	}
	.custom :global(.option.disabled) {
		background-color: #f3f6f9;
		cursor: default;
	}
	.custom :global(.option.number) {
		padding: 0;
	}
	.custom :global(.option.prev) {
		padding: 0;
	}
	.custom :global(.option.next) {
		padding: 0;
	}
</style>

{#if visible}
	<div class="d-flex flex-wrap py-2 mr-3">
		<div class="custom">
			<PaginationNav
				{totalItems}
				pageSize={config.limit}
				{currentPage}
				limit={3}
				showStepOptions={true}
				on:setPage={(e) => {
					if (e.detail.page !== currentPage) {
						onPage(e.detail.page);
					}
				}} />
		</div>
	</div>
{/if}
