<script>
	import { stores, goto } from '@sapper/app';
	import { onMount } from 'svelte';
	import * as yup from 'yup';
	import { extractError, extractErrors } from '../../functions';
	import {
		editRam as apiEditRam,
		detailRam as apiDetailRam,
	} from '../../services/model';
	import { getToken } from '../../stores';
	import ButtonLoading from '../loading/ButtonLoading.svelte';
	import LoadingContent from '../loading/LoadingContent.svelte';

	let values = {
		name: '',
	};
	let errors = {};

	const { session, page } = stores();
	const { domainModel } = $session;

	let isLoading = false;
	let isServerError = false;
	onMount(async () => {
		await detailRam();
	});
	const detailRam = () => {
		isLoading = true;
		const token = getToken();
		return new Promise((resolve, reject) => {
			apiDetailRam(domainModel, {
				token,
				id: $page.params.id,
			})
				.then((item) => {
					values.name = item.value;
					isLoading = false;
					resolve();
				})
				.catch(() => {
					isLoading = false;
					isServerError = true;
					reject();
				});
		});
	};
	const editRam = () => {
		const token = getToken();
		isLoading = true;
		return new Promise((resolve, reject) => {
			apiEditRam(domainModel, {
				token,
				id: $page.params.id,
				value: values.name,
			})
				.then(() => {
					isLoading = false;
					resolve();
				})
				.catch((error) => {
					let text =
						'Server is in construction. Please press F5/refresh and try again.';
					if (error.response) {
						const { status, data } = error.response;
						if (status === 400) {
							const { obj } = data;
							if (obj === 'ERR_EXIST') text = 'This ram already exists!';
						}
					}
					Swal.fire('Error!', text, 'error');
					isLoading = false;
					reject();
				});
		});
	};
	const schema = yup.object().shape({
		name: yup.number('Ram is string').required('Ram is required'),
	});
	const validate = async (field) => {
		try {
			await schema.validateAt(field, values);
			errors[field] = '';
		} catch (error) {
			errors[field] = extractError(error, field);
		}
	};
	const handleSubmit = async () => {
		isLoading = true;
		try {
			await schema.validate(values, { abortEarly: false });
			errors = {};
			await editRam();
			setTimeout(async () => {
				Swal.fire({
					position: 'top-right',
					icon: 'success',
					title: 'Edit ram ' + values.name + ' GB success',
					showConfirmButton: false,
					timer: 2000,
				});
				isLoading = false;
				goto('/rams');
			}, 300);
		} catch (error) {
			isLoading = false;
			if (error) {
				errors = extractErrors(error);
			}
		}
	};
</script>

<div class="card card-custom">
	<div class="card-header flex-wrap border-0 pt-6 pb-0">
		<div class="card-title">
			<h3 class="card-label">
				Ram Edit
				<span class="d-block text-muted pt-2 font-size-sm">Management rams list</span>
			</h3>
		</div>
	</div>

	<div class="card-body">
		{#if isServerError}
			<span class="font-weight-bold text-danger">Server is in construction.
				Please press F5/refresh and try again.</span>
		{:else if isLoading}
			<LoadingContent />
		{:else}
			<form
				class="form"
				autocomplete="off"
				on:submit|preventDefault={handleSubmit}
				novalidate="novalidate">
				<div class="card-body">
					<h3 class="font-size-lg text-dark font-weight-bold mb-6">
						Ram Info:
					</h3>
					<div class="mb-15">
						<div class="form-group row">
							<!-- svelte-ignore a11y-label-has-associated-control -->
							<label class="col-lg-3 col-form-label">Ram Value:</label>
							<div class="col-lg-6">
								<div class="input-group">
									<input
										bind:value={values.name}
										name="name"
										type="text"
										class="form-control"
										placeholder="Enter ram value"
										on:input={() => validate('name')}
										on:blur={() => validate('name')} />
									<div class="input-group-append">
										<span class="input-group-text text-muted">GB</span>
									</div>
								</div>
								{#if errors.name}
									<span class="form-text text-danger">Ram is a number</span>
								{/if}
							</div>
						</div>
					</div>
				</div>
				<div class="card-footer">
					<div class="row">
						<div class="col-lg-3" />
						<div class="col-lg-6">
							<div class="card-toolbar">
								<button
									on:click={() => goto('rams')}
									type="button"
									class="btn btn-light-primary font-weight-bolder mr-2">
									<i class="ki ki-long-arrow-back icon-xs" />Back</button>
								{#if isLoading}
									<ButtonLoading />
								{:else}
									<button
										type="submit"
										class="btn btn-primary font-weight-bolder">
										<i class="ki ki-check icon-xs" />Save Form</button>
								{/if}
							</div>
						</div>
					</div>
				</div>
			</form>
		{/if}
	</div>
</div>
