<script>
	import { onMount } from 'svelte';
	import { goto } from '@sapper/app';
	import SignIn from '../../components/form/SignIn.svelte';
	import TransitionWrapper from '../../components/transition/TransitionWrapper.svelte';
	import { isAuth } from '../../stores';
	let visible = false;
	onMount(async () => {
		if (isAuth()) {
			await goto('/');
		} else {
			visible = true;
		}
	});
</script>

<svelte:head>
	<title>Login</title>
	<link
		href="assets/css/pages/login/classic/login-1.css"
		rel="stylesheet"
		type="text/css" />
</svelte:head>

{#if visible}
	<TransitionWrapper
		id="kt_login"
		classes="login login-1 login-signin-on d-flex flex-column flex-lg-row flex-column-fluid bg-white">
		<div
			class="login-aside d-flex flex-column flex-row-auto"
			style="background-color: #F2C98A;">
			<div class="d-flex flex-column-auto flex-column pt-lg-40 pt-15">
				<a href="/" class="text-center mb-10">
					<img src="com_logo_short.jpg" class="max-h-70px" alt="" />
				</a>
				<h3
					class="font-weight-bolder text-center font-size-h4 font-size-h1-lg"
					style="color: #986923;">
					Dingtoi Admin
				</h3>
			</div>
			<div
				class="aside-img d-flex flex-row-fluid bgi-no-repeat bgi-position-y-bottom bgi-position-x-center"
				style="background-image: url(assets/media/svg/illustrations/login-visual-1.svg)" />
		</div>
		<div
			class="login-content flex-row-fluid d-flex flex-column justify-content-center position-relative overflow-hidden p-7 mx-auto">
			<div class="d-flex flex-column-fluid flex-center">
				<div class="login-form login-signin">
					<SignIn />
				</div>
			</div>
		</div>
	</TransitionWrapper>
{/if}
